@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Paytone+One&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Dancing+Script&family=Paytone+One&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Dancing+Script&family=Paytone+One&family=Roboto+Flex:opsz,wght@8..144,200&family=Roboto+Slab:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Paytone One', sans-serif;
    list-style-type: none;
    box-sizing: border-box;

}

/* SubMenu *********************************************************************************************************************************************/

.containerSubmenu{
    width: 100%;
    height: 240px;
    background-image: url(fondo.jpg);
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;

}


/* Logo/Img de la pagina *********************************************************************************************************************************************/

.navLink{
    display: flex;
    justify-content: center;

}

.logoImg {
    height: 220px;
    position: relative;
    top: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius:100%;
}

/* Menu *********************************************************************************************************************************************/

.menu{
    display:flex;
    background-color: #ace2fe;
    margin: auto;
    height: 70px;
    justify-content:center;
    overflow: hidden;
}


.menu li{
    display: block;
    text-align: center;

}

.menu li a{
    text-decoration: none;
    background-color:#ffffff ;
    border-radius: 10px;
    color: #62cbff;
    padding: 15px 15px;
    display: block;
    margin: 5px;
    font-size: 12px;
    position: relative;
    top: 15px;
}

.menu > li{
    float: left;
}
.menu li a:hover {
    background-color:rgba(94, 94, 94, 0.527);
}

.menu li ul{
    display:none;
    position: absolute;
    min-width: 100px;
    z-index: 1;

}

.menu li:hover >ul {
    display:block;


}
/* Main index *********************************************************************************************************************************************/
.main{
    background-image: url(fondo.jpg);
    background-position: center;
    background-size:cover;
    background-attachment: fixed;


}

.titulo{
    text-align: center;
    position: relative;
    top: 35px;
    color: rgb(68, 63, 63);
    font-family: sans-serif;
}

.box{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.box img:hover{
    transform: scale(1.1);
}

.box img{
    transition: all 1.3s;
}

.section1 img{
    height: 650px;
    width: auto;
    border-radius: 30px;
    padding: 10px;

}

.section2 img{
    height: 650px;
    width: auto;
    border-radius: 30px;
    padding: 10px;
    }

.section3 img{
    height: 650px;
    width: auto;
    border-radius: 30px;
    padding: 10px;
}



/* main Productos *********************************************************************************************************************************************/
.mainProductos{
    background-image: url(./fondo.jpg);
    height: 170vh;
    width: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
}


.title{
    text-align: center;
    font-size: 50px;
    color: #6a6a6a;
    position: relative;
    top: 20px;
    font-weight: 100;
}


.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 20px;
}

.container .card{
    width: 300px;
    height:550px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align:  center;
    transition: all 0.25s;
    background:white;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    height: 360px;
    width: 300px;
    object-fit: cover;
    background-position: center;
    background-size:cover;
}


.container .card h4{
    font-size: 18px;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    color: black;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}






/* Quienes Somos **********************************************************************************************************************************************************/
.mainQuieneSomos {
    height: 80vh;
    background-image: url(./fondo.jpg);
    background-attachment: fixed;

}

.seccionAcerca{
    width:800px;
    height: 470px;
    margin: auto;
    position: relative;
    top:65px;
    background-color: white;
    padding:0 40px 0 40px;
    border-radius: 10px;
}

.seccionAcerca h1 {
    font-family: "Dancing Script";
    font-weight: 400;
    font-size: 50px;
    position: relative;
    color: #6a6a6a;

}

.seccionAcerca h3{

    font-family: "Dancing Script";
    position: relative;
    top: 30px;
    font-size: 30px;
    font-weight: 100;
    position: relative;
    color: #ace2fe;


}

.acerca{
    position: relative;
    top: 45px;
    display: flex;

}

.acerca p{
    font-family: sans-serif;
    color: rgba(128, 128, 128, 0.815);
}

.p2{
    padding-left: 20px;
}

/* main Como Comprar *********************************************************************************************************************************************/
.mainCompra{
    height: 115vh;
    background-image: url(./fondo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.containerCompra{
    width:1000px;
    height: auto;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.89);
    padding:0 40px 0 40px;
    border-radius: 10px;
    position: relative;
    top: 45px;
}


.containerCompra h1{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 50px;
    padding: 30px 0 0 0;
    color: #000000;
}

.containerCompra h3{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 50px 0 10px 0;
    color: #353131;
}

.compra p{
    padding: 10px 0 10px 20px;
    color: #6a6a6aef;
}

/* Footer **********************************************************************************************************************************************************************************************/

.containerFooter{
    background-color: #ace2fe;
    width: 100%;
    color: white;
    display: flex;
    justify-content:space-around;
}

.column1{
    margin-top: 20px;

}

.column2{
    margin-top: 20px;

}

.column3{
    margin-top: 20px;

}

.containerFooter a{
    text-decoration: none;
    color: white;
}

.row{
    margin-top: 10px;
}

.row i{
    width: 10px;
    height: 10px;
}

.row2{
    margin-top: 10px;
}

.row label{
    position: relative;
    left: 15px;
}

.row2 label{
    position: relative;
    left: 15px;
}

.row a{
    transition: all;
}

.row a :hover{
    transform: scale(1.5);
}

/* ContainerGrid/Contacto ************************************************************************************************************************************************/

.containerBody {  display: grid;
    grid-template-columns: 1.5fr 0.5fr 1fr;
    grid-template-rows: repeat( 4, auto);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "header header header"
    "aside section section "
    "aside section section "
    "footer footer footer";
    background-image: url(..//Fotos/fondo.jpg);
    flex-wrap: wrap;
}


/* Header */

.header {
    grid-area: header;
    background-image: url(./fondo.jpg);

}

.containerSubmenuG{
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;

}

.navLinkG img{
    height: 200px;
    margin-top: 5px;
}

.menuG{
    display:flex;
    background-color: #ace2fe;
    margin: auto;
    height: 70px;
    justify-content:center;
}

.menuG li{
    display: block;
    text-align: center;
}

.menuG li a{
    text-decoration: none;
    background-color:#ffffff ;
    border-radius: 10px;
    color: #62cbff;
    padding: 15px 15px;
    display: block;
    margin: 5px;
    font-size: 12px;
}

.menuG > li{
    float: left;
}
.menuG li a:hover {
    background-color:rgba(94, 94, 94, 0.527);
}

.menuG li ul{
    display:none;
    position: absolute;
    min-width: 100px;
    z-index: 1;
}

.menuG li:hover >ul {
    display:block;
}

/* Contacto**********************************************************/


.section {
    grid-area: section;
    background-image: url(./fondo.jpg);
    background-position: center;

}


.formContact{
    background-color: white;
    width: 70%;
    margin:20px 0 20px 100px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 120px rgb(255, 255, 255);

}

.formContact h2{
    color: rgb(68, 63, 63);
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.formContact input{
    width: 100%;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;


}

textarea{
    min-height: 100px;
    max-height: 100px;
    max-width: 410px;
    min-width: 410px;
    border: none;
    margin-left: 5px;
    border-radius: 10px;
}

.checkbox{
    position: relative;
    left: 10px;
    bottom: 22px;
}

.formContact input[type=submit]:hover, .formContact input[type=email]:hover, .formContact input[type=text]:hover, .formContact input[type=tel]:hover,  .formContact input[type=reset]:hover{
    background-color: #ace3fe80;
    color: white;
}

.inicioContactoContainer{
    display: grid;
    background-color: #ffffff;
    height: 475px;
    width: 70%;
    padding: 20px 40px 0 40px;
    border-radius: 10px;
    margin: 20px 0 0 100px;
    font-family: 'Roboto', sans-serif;

}

aside{
    grid-area: aside;
    background-position: center;
    background-image: url(./fondo.jpg);
}

.linea{
    height: 2px;
    background-color: #afb2b48e;
}

.inicioContacto p, .inicioContacto a, .inicioContacto h1, .emailContacto a, h3{
    font-family:sans-serif;
    text-decoration: none;
    color:rgb(90, 90, 90);
}

.inicioContacto h1{
    font-weight: 50;

    font-size: 50px;
}
.inicioContacto p{
    color: #ace2fe;
}

.inicioContacto p, .inicioContacto a{
    font-size: 15px;

}

.emailContacto {
    padding-top:20px;


}

.redes a{
    text-decoration: none;
    color: #000000;
}

.redes {
    padding-bottom:50px;
}

.redes h3{
    padding-bottom: 15px;
}

/* Footer **********************************************************************************************************************************************************************************************/

.footer {
    grid-area: footer;
    background-color: #ace2fe;
    color: white;
}


.containerFooterG{
    display: flex;
    justify-content:space-around;
}

.column1G{
    margin-top: 20px;

}

.column2G{
    margin-top: 20px;

}

.column3G{
    margin-top: 20px;

}

.containerFooterG a{
    text-decoration:none ;
    color: white;
}

.rowG {
    margin-top: 10px;
}

.rowG i{
    width: 10px;
    height: 10px;
}

.row2G{
    margin-top: 10px;
}

.rowG label{
    position: relative;
    left: 15px;
}

.row2G label{
    position: relative;
    left: 15px;
}

.rowG a{
    transition: all;
}

.rowG a :hover{
    transform: scale(1.5);
}












/* Media/Tablets */
@media (max-width: 768px) {

/* index */
.box{
    margin-top: 70px;
}

.main{
    height: 320vh;
}


    /* productos */


.mainProductos{
        height: 300vh;
    }

/* Contacto */
    
.containerBody {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat( 4, auto);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "header "
    "aside "
    "section "
    "footer ";
    background-image: url(..//Fotos/fondo.jpg);
}

.formContact{
    width: 75%;
}

textarea{
    max-width: 350px;
    min-width: 350px;
}


.inicioContactoContainer{
    width: 75%;
}


/* quienes somos *************************************/
.mainQuieneSomos {
    height:100vh;
    

}

.seccionAcerca{
    width:90%;
    height: 550px;
}

.acerca{
    flex-direction: column;
    flex-wrap: wrap;
}

.p2{
    padding:10px 0 0 0;
    
}

/* maincomprar ****************************************************/

.mainCompra{
    height: 160vh;
}

.containerCompra{
    width:90%;
    flex-wrap: wrap;
}

}






















/* Media/Celular ****************************************************/
@media screen and (max-width: 375px){

/* submenu******************************************************************* */

.containerSubmenu{
    height:200px;
    flex-wrap: wrap;
}

.logoImg {
    height: 170px;

}

/* menucelular ****************************************************/

.menu{
    height: 70px;
    justify-content:center; 
    overflow: hidden;
}

.menu li a{
    width: 65px;
    padding: 10px;
    margin-left:2px;
    height:30px;
    font-size:7px;
    left: 2px;
}



/* mainIndex ****************************************************/

.main{
    height: 200vh;
}

.titulo{
    top: 5px;
}

.box{
    flex-wrap: wrap;
    margin-top: 15px;
}

.section1 img{
    height: 400px;

}

.section2 img{
    height: 400px;
}

.section3 img{
    height: 400px;
}



/* productos ***************************************************/


.mainProductos{
    height: 550vh;
}

.title{
    font-size: 30px;
}


/* Contacto ***************************************************/

.containerBody {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat( 4, auto);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "header"
    "aside"
    "section"
    "footer";
    background-image: url(..//Fotos/fondo.jpg);
    flex-wrap: wrap;
}

textarea{
    max-width: 350px;
    min-width: 350px;
}


.inicioContactoContainer{
    background-color: #ffffff;
    height: 475px;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0 20px 25px;
}

.formContact{
    background-color: white;
    width: 90%;
    margin:20px 0 20px 25px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 120px rgba(255, 255, 255, 0);
    justify-content: center;
}


.section{
    background-image: url(./fondo.jpg);
    height: 100%;
    
}

.footer {
    grid-area: footer;
    background-color: #ace2fe;
    color: white;
    display: flex;
}

/* quienes somos *************************************/
.mainQuieneSomos {
    height:180vh;

}

.seccionAcerca{
    width:90%;
    height: 1110px;

}

.acerca{
    flex-direction: column;
}

.p2{
    padding:10px 0 0 0;
}

/* maincomprar ****************************************************/

.mainCompra{
    height: 155vh;
}

.containerCompra{
    width:90%;
    flex-wrap: wrap;
}

.containerCompra h1{
    font-size: 35px;
}

.containerCompra h3{
    font-size: 15px;
}

.compra p{
    padding: 10px 0 10px 10px;
    font-size: 10px;
}


/* footer celular ****************************************************/

.containerFooter{
    display: flex;
    flex-direction: column;
}

.containerFooterG{
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 10px;
}


.column1{
    margin: 20px 0 0 10px;
    font-size: 13px;

}

.column2{
    margin: 25px 0 0 10px;
    font-size: 13px;
}

.column3{
    margin: 25px 0 32px 10px;
    font-size: 13px;
}

.containerLink{
    padding-top:5px;
}


}

